@model SDC.web.Models.UserProfile

<!-- Sidebar user panel (optional) -->
<div class="user-panel">
    <div class="pull-left image">
        <img src="@Model.Avatar.Url" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
        <p>@Model.UserName</p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> @Model.Role</a>
    </div>
</div>