@model SDC.data.Entity.LoginModel

@{
    ViewBag.Title = "Login";
}

<div class="login-box">
    <div class="login-logo"><b>book</b>X<b>change</b></div>

    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Username" })
                <span class="glyphicon glyphicon-user form-control-feedback" />
            </div>

            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                <span class="glyphicon glyphicon-lock form-control-feedback" />
            </div>

            <div class="row">
                <div class="col-xs-8">
                    @Html.CheckBoxFor(m => m.RememberMe) 
                    Remember me
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign in</button>
                </div>
            </div>
        }

    </div>
</div>

<div class="box">
    <div class="info-box-content">
        <h2>A few words</h2>
        <h4>This is a book exhange platform in the making. <br />It will make it easy for you to browse other people's books and exchange, <br />buy or sell real books that you own or want to read. 
        <br />Maybe you'll even make some friends in the process. </h4>
        <p>ETA: End of 2015, if all goes well. </p>
        <p>Code is here <i class="fa fa-arrow-circle-right"></i> <a href="https://github.com/teo-mateo/sdc">CODE</a> </p>
        <p>Backlog is here <i class="fa fa-arrow-circle-right"></i> <a href="https://trello.com/b/PhOzUIUm/s-d-c">BACKLOG</a> </p>
        <p>And sometimes you can watch me coding this thing here <i class="fa fa-arrow-circle-right"></i> <a href="http://livecoding.tv/tbardici">LIVECODING</a></p>
        <p>You can create your own user profile. But know that the database is reset periodically. This thing ain' ready yet.</p>
        <p>Or - limited offer - you can use admin with the first (five plus one) non-zero integers as the greatest password ever.</p>
        
    </div>
</div>

