@model SDC.data.ViewModels.AuthorListViewModel

@{
    ViewBag.Title = "Authors";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs/dt-1.10.9/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/r/bs/dt-1.10.9/datatables.min.js"></script>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>

<!-- bootstrap switch-->
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-switch/bootstrap3/bootstrap-switch.min.css" />
<script type="text/javascript" src="~/Scripts/bootstrap-switch.min.js"></script>

<script>
    var _links = {
        viewAuthor: '@Url.Action("ViewAuthor")',
        fetchAuthorsJson: '@Url.Action("GetAllAuthorsJson")'
    };
</script>

<script src="~/Scripts/Custom/Authors/Index.js"></script>

<div class="pull-left">
    @if (ViewBag.CanEdit)
    {
        <a class="btn btn-primary margin-bottom" onclick="$('#authorModal').modal('show');">New author</a>
    }
</div>

@Html.Partial("Authors/_AuthorModal")

<div class="box">
    
    <div class="box-body">
        <div class="row margin-bottom" style="margin-left:10px; ">
            <h4>Show authors:</h4>
            <span>
                <input id="chkBooksFilter" type="checkbox" data-off-text="All authors" data-on-text="With books" checked="true" />
            </span>
            <button class="btn btn-primary ">New author</button>
        </div>
        <div>
            <table id="authorsTable" class="display compact" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Is verified</th>
                        <th>Book count</th>
                        <th>Added by</th>
                        <th>Added date</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Is verified</th>
                        <th>Book count</th>
                        <th>Added by</th>
                        <th>Added date</th>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
    <div class="box-footer">

    </div>
</div>

