@model SDC.data.ViewModels.AuthorViewModel

@{
    ViewBag.Title = "Books by " + String.Format("<em>{0}</em>", Model.Name);
    ViewBag.User = (SDC.data.Entity.UserProfile)Session["UserInfo"];
}

@if (ViewBag.User.IsAdmin || ViewBag.User.IsCurator)
{
    <a href="@Url.Action("EditAuthor", "Authors", new { id = Model.Id})"
       class="btn btn-primary">Edit</a>
}

<a href="javascript:void(0);" onclick="window.history.back();"
   class="btn btn-default">Go back</a>

