
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p><strong>Todo: </strong> some sort of dashboard here. </p>

<p>Admin might be interested in overall activity since his last visit OR last day/week</p>

<p>On the landing page user should see things like:
    
    <ul>
    <li>New messages</li>
    <li>Views on his books</li>
    </ul>
</p>

<p>
   <h4>Idea: wishlist</h4> 
    A user's wishlist is made of books that the user wants to read. Just the title. Is this feasible?
    <br />
    And then as other users add their books, matching is done between wishlists and book titles. 
    <br />
    Then the owners of the wishlists are notified that this book is available on <em>book owner's</em> shelves.
</p>

<p>
    <div>
        <h4>Exchange</h4>
        So an exchange is a back-and-forth conversation between two users that settles into an book exchange.
        <br />
        Exchange types: 
        <ul>
            <li>
                book-for-book. <i>this will not work. now way one user will guess what other might like.</i>
                <br />
                User that initiates the exchange will say: I want this(these) book(s) from you, and I'll give you this book that I own.
            </li>
            <li>
                whatever you like. <i>I guess this is the way it might work.</i>
                <br />
                Just initiate the exchange. Then the other user will send back a response with what he wants in exchange. 
            </li>
        </ul>
    </div>
</p>

