@model string[]
@{
    ViewBag.Title = "Index";
}

<h1>User tracking done with REDIS - Active users: @Model.Length</h1>
<ul class="list-group">
    @foreach (var user in Model)
    {
        <li class="list-group-item">@user</li>
    }
</ul>

@using (Html.BeginForm("BookSearch", "Search"))
{
    <div class="input-group input-group-lg">
        <input type="text" class="form-control"
               id="searchTerm" name="searchTerm">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-info btn-flat">Go!</button>
        </span>
    </div>
}