@model string[]
@{
    ViewBag.Title = "Index";
}

<h1>User tracking done with REDIS - Active users: @Model.Length</h1>
<ul class="list-group">
    @foreach (var user in Model)
    {
        <li class="list-group-item">@user</li>
    }
</ul>

@Html.Partial("Search/_SearchForm", "")