body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* WHEN DID I DO THIS?!?!??!?!?*/
/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    
}
    */ 


/* this style will apply to all inputs, selects, textareas contained within a form that has the class sdc-form-default */
div.sdc-form-style input, select, textarea {
    max-width: 280px;
}


.sdc-row-spaced{
    margin-top: 5px;
}

.sdc-border-left{
    border-left: 1px dashed #333;
}

.sdc-scroll-container400{
    height:400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sdc-margin2px{
    margin:2px;
}

.sdc-icon-g {
    color: green;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gray;
} 
.sdc-icon-r {
    color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gray;
}
.sdc-icon-y {
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gray;
}

.sdc-vertical-center{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.ui-autocomplete{
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

@media screen and (min-width: 768px) {
	
	#newBookModal .modal-dialog  {width:900px;}
    #editBookModal .modal-dialog  {width:900px;}
}