@model SDC.web.Models.Profile.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
}

<h4>ChangePassword</h4>
<hr />

<!-- Custom Tabs -->
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">Change password</a></li>    
    </ul>
    <div class="tab-content">
        change passwd here

    </div>
</div>

